@charset "EUC-KR";

 .right {
    position: fixed;
    left: 280px;
    bottom:30px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    
  }
  .left {
    position: fixed;
    right: 280px;
    bottom:30px;
    text-decoration: none;
    color: black;
    font-size: 12px;
  }
  
  #agree {
    position :relative;
    left: 200px;
    
  }
  #login1{
    position :relative;
    left: 230px;
  }
  #basket {
    position :relative;
    left: 260px;
  }
  #order {
    position :relative;
    left: 290px;
  }
  #faq {
    position :relative;
    right: 290px;
  }
  #review {
    position :relative;
    right: 260px;
  }
  #menu {
 
   background: #1c205f;
   height: 100px;
   
  }
  .sub{
   
   text-decoration: none;
   color: white;
   font-size: 20px;
   font-weight: bold;
  
  }
  
  #site {
   position: relative;
   left: 160px;
  }
  
  #club {
   position: relative;
   left: 360px;
  }
  
  #view {
   position: relative;
   left: 560px;
  }
  
  #sale {
   position: relative;
   left: 760px;
  }
  
  #event {
   position: relative;
   left: 960px;
  }
  #bm {
   position: relative;
   top: 700px;
   border-top: 1px solid;
  }